 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1135px;
}

.u-section-1 .u-image-1 {
  width: 898px;
  height: 436px;
  object-position: 50% 100%;
  margin: 81px 0 0 auto;
}

.u-section-1 .u-image-2 {
  width: 723px;
  height: 501px;
  margin: -62px auto 0 60px;
}

.u-section-1 .u-group-1 {
  min-height: 534px;
  width: 437px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  height: auto;
  margin: -428px 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 27px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
  padding: 13px 41px 14px 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 503px;
  }

  .u-section-1 .u-image-2 {
    width: 404px;
    height: 512px;
  }

  .u-section-1 .u-group-1 {
    min-height: 543px;
    width: 402px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1183px;
  }

  .u-section-1 .u-image-1 {
    width: 658px;
    height: 457px;
    margin-top: 59px;
  }

  .u-section-1 .u-image-2 {
    width: 360px;
    height: 446px;
    margin-top: -170px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    min-height: 487px;
    margin-top: -155px;
    margin-right: 48px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1154px;
  }

  .u-section-1 .u-image-1 {
    width: 492px;
    height: 342px;
  }

  .u-section-1 .u-image-2 {
    width: 319px;
    height: 420px;
    margin-top: -85px;
  }

  .u-section-1 .u-group-1 {
    width: 346px;
    margin-top: -127px;
    margin-right: 0;
    margin-bottom: 59px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1139px;
  }

  .u-section-1 .u-image-1 {
    width: 297px;
    height: 214px;
  }

  .u-section-1 .u-image-2 {
    width: 272px;
    height: 325px;
    margin-top: -48px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 43px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}